nav{
    background-color: black;
}

header{
    background: pink;
    padding: 150px;
}
header h1{
    font-size: 16px;
}

header h2 {
    font-size: 20px;
}

form h2{
    text-transform: uppercase;
}

.ambition{
    background-color: green;
    padding: 50px;
}
.ambition div{
    background-color: aquamarine;
}
.photo-fondateurs{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
}
.photo-fondateurs img{
    width: 100px;
}
.equipe h2{
    font-size: 20px;
}
.equipe p{
    font-size: 16px;
}
.profil{
    margin-right: 15px;
    background-color: rgb(247, 132, 132);
}