nav{
    background-color: black;
}

header{
    background: pink;
    padding: 150px;
}
header h1{
    font-size: 16px;
}

header h2 {
    font-size: 20px;
}

form h2{
    text-transform: uppercase;
}